body{
  background-color: tomato;
}

.divStyle{
  width: '1000px';
  text-align: 'center';
  color: 'gray';
  background-color: 'blue';
  margin: '10px';
  border-radius: '4px';
  box-shadow: '5px 5px 10px #222';
  border: '2px solid red';
  box-sizing: border-box;
}

.pStyle {
  text-align: 'center';
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  &:target {
    opacity: 1;
    pointer-events: auto;
  }
  &>div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
    color: #333333;
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
    color: #333333;
  }
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: #000;
  }
}

/* Demo Styles */

html,
body {
  height: 100%;
}

body {
  font: 600 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #f69d75;
  color: #555555
}

a {
  color: inherit;
}

/* .container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.btn {
  background-color: #fff;
  padding: 1em 1.5em;
  border-radius: 5px;
  text-decoration: none;
  i {
    padding-right: 0.3em;
  }
}
